@{
    ViewData["Title"] = "Carrello";
}
<div class="Container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <center>
                <Titolo>Carrello</Titolo>
            </center>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>