@{
    ViewData["Title"] = "Contatti";
}
<div class="Container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <center>
                <img src="/Images/Contatti.svg" class="w-50 h-50" />
            </center>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.0196565407477!2d15.091586175421117!3d37.57815482346251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1313fc3bc7d7c4b3%3A0xe578accd2461d6b4!2sTumanji!5e0!3m2!1sit!2sit!4v1709067841409!5m2!1sit!2sit" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>