@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>UserPassword</th>
                    <th>DataCreazione</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var x in Model)
                {
                    <tr>
                        <td>@x.UserName</td>
                        <td>@x.Password</td>
                        <td>@x.DataCreazione</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
