@model PaninoEntity
<script>
	$(document).ready(function () {
		$('#check1').change(function () {
			if (this.checked) {
				$('#DropDownBevanda').show();
				document.getElementById("check").value = true;
			} else {
				$('#DropDownBevanda').hide();
				document.getElementById("check").value = false;
			}
		});
	});
	$('#modalTitle').text(document.getElementById("Nome").title);
</script>
<img class="card-img-top" src="/Images/Panini/logo.png" alt="Card image cap">
<p style="display:none" id="Nome" title="@Model.Nome"></p>
<p>@Model.Descrizione</p>
<p> <b>Prezzo: </b> € @Model.Prezzo</p>
<div class="row">
	<div class="col-md-5">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="check1" />
			<input type="hidden" id="check" name="Plus" value=""/>
			<input type="hidden" id="prezzo" name="Prezzo" value="@Model.Prezzo"/>
			<label class="form-check-label">Menu+? (+ €2,50)</label>
		</div>
	</div>
	<div class="col-md-5">
		<div class="dropdown" id="DropDownBevanda" style="display:none;">
			@* <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
				Bevanda
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#" name="Bevanda">Acqua Naturale</a></li>
				<li><a class="dropdown-item" href="#" name="Bevanda">Acqua Frizzante</a></li>
				<li><a class="dropdown-item" href="#" name="Bevanda">Coca-Cola</a></li>
				<li><a class="dropdown-item" href="#" name="Bevanda">Coca-Cola Zero</a></li>
				<li><a class="dropdown-item" href="#">Birra</a></li>
			</ul> *@
			<select class="form-select btn btn-primary dropdown-toggle" name="Bevanda" aria-label="Default select example">
				<option value="" selected>Bevanda</option>
				<option value="Acqua Naturale">Acqua Naturale</option>
				<option value="Acqua Frizzante">Acqua Frizzante</option>
				<option value="Coca-Cola">Coca-Cola</option>
				<option value="Birra">Birra</option>
			</select>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<div class="form-group">
	<label for="Note">Note:</label>
	<textarea class="form-control" rows="3" name="Note" id="Note" placeholder="Inserisci eventuali note..."></textarea>
</div>