@model Panino;
<div class=" modal fade" id="addBread">
	<div class="modal-dialog">
		<div class="model-content">
			<div class="modal-header">
				<h4 class="modal-title" id="addBreadLabel">Add Bread</h4>
				<button type="button" class="close" data-dismiss="modal">
					<span>x</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="Create">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label asp-form="Nome"></label>
								<input asp-form="Nome" class="form-control" />
								<span asp-validation-for="Nome" class="text-danger"> </span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-form="DataCreazione"></label>
								<input asp-form="DataCreazione" value="@DateTime.Now" class="form-control" readonly />
								<span asp-validation-for="DataCreazione" class="text-danger"> </span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label asp-form="Descrizione"></label>
								<textarea asp-form="Descrizione" rows="3" class="form-control" />
								<span asp-validation-for="Descrizione" class="text-danger"> </span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label asp-form="PathImage"></label>
								<input asp-form="PathImage" type="image" class="form-control" />
								<span asp-validation-for="PathImage" class="text-danger"> </span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label asp-form="PaninoMese"></label>
								<input asp-form="PaninoMese" type="checkbox" class="form-control" />
								<span asp-validation-for="PaninoMese" class="text-danger"> </span>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label asp-form="InMenu"></label>
								<input asp-form="InMenu" type="checkbox" class="form-control" />
								<span asp-validation-for="InMenu" class="text-danger"> </span>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>
				</form>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-save="modal">
				Salva
			</button>
		</div>


	</div>

</div>
